#signInForm .text-center {
  margin-top:-20px
}

#signUpForm .text-center {
  margin-top:-20px
}

.list-group {
  display: inline;
}

.card-furs {
  margin-top: -30px;
}

.list-group-item {
  margin-top: 20px;
  float:left;
  width: 30%;
  height: 125px;
}

.list-group-item:nth-child(3n-1) {
    margin-left: 5%;
}

.list-group-item:nth-child(3n) {
  margin-left: 5%;
}

@media only screen and (max-width: 850px) {
  .list-group-item {
    width: 47.5%;
  }

  .list-group-item:nth-child(3n) {
    margin-left: 0%;
  }

  .list-group-item:nth-child(3n-1) {
      margin-left: 0%;
  }

  .list-group-item:nth-child(2n) {
      margin-left: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .list-group-item {
    width: 100%;
  }

  .list-group-item:nth-child(3n) {
    margin-left: 0%;
  }

  .list-group-item:nth-child(3n-1) {
      margin-left: 0%;
  }

  .list-group-item:nth-child(2n) {
      margin-left: 0%;
  }
}
